main {
    background-image: url("../../../../public/bg-image.avif")
}

img {
    border-radius: 16px;
    border: solid 2px black;
    width: 320px;
    min-width: 320px;
    height: 220px;
    min-height: 220px;
}

.star {
    position: absolute;
    height: 64px;
    right: 0px;
    top: 0px;
}

input {
    min-height: 70px;
}
